# 1.Introduction to Plotly

1. Until now we did visualisations using Matplotlib, seaborn and Pandas . All if them Produce static image files.

2. Plotly is company based out in Canada famous for it's products like plotly and Dash

3. plotly create interactive visualisations in the form of HTML files

4. Drawback can't work a ive data source 

5. Dash  is used to create live data based dashboards.

In [3]:
!pip install plotly

Collecting plotly
  Downloading plotly-6.0.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from plotly) (1.15.1)
Requirement already satisfied: packaging in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from plotly) (24.2)
Downloading plotly-6.0.0-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ------ --------------------------------- 2.4/14.8 MB 12.2 MB/s eta 0:00:02
   ------------ --------------------------- 4.7/14.8 MB 11.9 MB/s eta 0:00:01
   ------------------- -------------------- 7.1/14.8 MB 11.8 MB/s eta 0:00:01
   ------------------------- -------------- 9.4/14.8 MB 12.0 MB/s eta 0:00:01
   -------------------------------- ------- 12.1/14.8 MB 11.8 MB/s eta 0:00:01
   -------------------------------------- - 14.4/14.8 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 11.6 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-6.0.0

WARNING: Ignoring invalid distribution -umpy (c:\users\user\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\user\appdata\local\programs\python\python310\lib\site-packages)

In [1]:
import numpy as np
import pandas as pd 
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
match = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

ipl = delivery.merge(match,left_on='match_id',right_on= 'id')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen

# 1. Scatter Plots

 1.Scatter plots are drown bwtween to continous variables

 Problem :- We are going to draw a scatter plot between batsman avg(x axis) and 

 Batsman strike Rate (Y axis) of thje top 50 batsman in IPL (all time)

In [4]:
print(ipl.columns)

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date',
       'match_type', 'player_of_match', 'venue', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'result', 'result_margin',
       'target_runs', 'target_overs', 'super_over', 'method', 'umpire1',
       'umpire2'],
      dtype='object')

In [8]:
top50 = ipl.groupby('batter')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()
new_ipl = ipl[ipl['batter'].isin(top50)]

In [10]:
# Calculating SR
# SR = [(number of runs scored)/(number of balls played)] * 100

runs = new_ipl.groupby('batter')['batsman_runs'].sum()
balls = new_ipl.groupby('batter')['batsman_runs'].count()

sr = (runs/balls)*100

sr =sr.reset_index()
sr

            batter  batsman_runs
0   AB de Villiers    148.580442
1       AD Russell    164.224422
2         AJ Finch    123.349057
3        AM Rahane    120.321410
4        AT Rayudu    124.584527
5      BB McCullum    126.848592
6         CH Gayle    142.121729
7        DA Miller    134.684477
8        DA Warner    135.429986
9         DR Smith    132.279534
10    F du Plessis    133.071325
11       G Gambhir    119.665153
12      GJ Maxwell    150.488599
13       HH Pandya    139.691290
14    Ishan Kishan    132.797589
15      JC Buttler    142.238984
16       JH Kallis    105.936272
17      KA Pollard    140.457703
18      KD Karthik    131.353404
19        KL Rahul    131.050866
20   KS Williamson    122.952710
21         M Vijay    118.614130
22      MA Agarwal    128.255646
23       MK Pandey    117.366180
24        MS Dhoni    132.835065
25          N Rana    130.818859
26        PA Patel    116.625717
27       Q de Kock    131.120332
28        R Dravid    113.347237
29       RA Jadeja    124.432296
30     RA Tripathi    135.515152
31      RD Gaikwad    133.632791
32       RG Sharma    127.918194
33         RR Pant    143.597561
34      RV Uthappa    126.152279
35        S Dhawan    123.454313
36        SA Yadav    142.505948
37        SE Marsh    130.109775
38        SK Raina    132.535312
39       SPD Smith    124.812406
40    SR Tendulkar    114.187867
41       SR Watson    134.163209
42         SS Iyer    123.025540
43       SV Samson    135.137615
44    Shubman Gill    132.236842
45         V Kohli    128.511867
46        V Sehwag    148.827059
47         WP Saha    123.902027
48       YK Pathan    138.046272
49    Yuvraj Singh    124.784776

In [11]:
# Calculating Avg
# Avg = (Total number of Runs)/(number of outs)
# calculating number of outs of for tiop 50 batsman

out = ipl[ipl['player_dismissed'].isin(top50)]
nouts = out['player_dismissed'].value_counts()

avg = runs/nouts

avg = avg.reset_index()

avg.rename(columns={'index':'batter',0:'avg'}, inplace=True)

avg = avg.merge(sr,on='batter')

In [19]:
# Plot Scatter Plot here
trace = go.Scatter(x=avg['avg'],y=avg['batsman_runs'],mode='markers',text=avg['batter'] , marker={'color':"#00a65a",'size':16})
data = [trace]

layout = go.Layout(title='batsman Avg vs SR', xaxis = {'title':'Batsman Average'},yaxis={'title':'Batsman Strike rate' })
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

# 2.Line Chart

It's an extension of Scatter plot. Usually . used to  show a time series data

In [35]:
# Year by year batsman performance

single = ipl[ipl['batter'] == 'V Kohli']
performance = single.groupby('season')['batsman_runs'].sum().reset_index()
performance

single1 = ipl[ipl['batter'] == 'MS Dhoni']
performance1 = single1.groupby('season')['batsman_runs'].sum().reset_index()
performance1

     season  batsman_runs
0   2007/08           414
1      2009           332
2   2009/10           287
3      2011           392
4      2012           358
5      2013           461
6      2014           371
7      2015           372
8      2016           284
9      2017           290
10     2018           455
11     2019           416
12  2020/21           200
13     2021           114
14     2022           232
15     2023           104
16     2024           161

In [36]:
# Plot Line chart here 
trace = go.Scatter(
    x=performance['season'],
    y=performance['batsman_runs'],
    mode='lines',  # Corrected from 'node' to 'mode'
    marker=dict(color='#00a65a')  # Corrected marker syntax
)


trace1 = go.Scatter(
    x=performance1['season'],
    y=performance1['batsman_runs'],
    mode='lines',  # Corrected from 'node' to 'mode'
)

data = [trace,trace1]

layout = go.Layout(title='Year by Year Performance',xaxis={'title':'Season'},yaxis={'title':'Total runs'})

fig = go.Figure(data=data,layout=layout)

pyo.plot(fig, filename='myfile.html')

'myfile.html'

In [45]:
# Multiple Line Charts

def batsman_comp(*name):
    data = []
    for i in name:
        single = ipl[ipl['batter']==i]
        performance=single.groupby('season')['batsman_runs'].sum().reset_index()

        trace = go.Scatter(x=performance['season'],y=performance['batsman_runs'],mode='lines + markers',name=i)

        data.append(trace)

    layout = go.Layout(title='Batsman Record comparator',xaxis={'title':'Season'},yaxis={'title':'Runs'})

    fig = go.Figure(data=data, layout=layout)

    pyo.plot(fig, filename='Year_by_year.html')

In [46]:
batsman_comp('V Kohli','RG Sharma','DA Warner','MS Dhni')